{% extends 'layout.jinja2' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
{% endblock %}

{% block content %}
<form class="form" action="/user/update/{{ user[0] }}/" method="post">
    <label>User Name: <br><input type="text" name="user_name" id="user_name" maxlength="50" value="{{ user[2] }}" required></label>
    <label>First Name: <br><input type="text" name="first_name" id="first_name" maxlength="50" value="{{ user[3] }}" required></label>
    <label>Surname: <br><input type="text" name="surname" id="surname" maxlength="50" value="{{ user[4] }}" required></label>
    <label>Email: <br><input type="text" name="email" id="email" maxlength="50" value="{{ user[5] }}" required></label>
    <label>Password: <br><input type="text" name="password" id="password" maxlength="50" value="********" required></label>
    <label>Role: <br><input type="text" name="role" id="role" maxlength="50" value="{{ user[1] }}" required></label>
    <button>UPDATE</button>
    {% if warning %}
    <p class="warning center">{{warning}}</p>
    {% endif %}
</form>
{% endblock %}
